.about {
  &__contact-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-weight: 700;
    padding: 2rem 1rem 1rem;
    text-decoration: none;
    color: var(--mantine-color-text);

    &:hover {
      color: var(--mantine-color-blue-6);
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--mantine-color-body);
    padding: 2rem;
    gap: 2rem;
    max-width: 1000px;
    margin: 0 auto;
  }

  &__section {
    width: 100%;
    text-align: center;
  }

  &__section-title {
    margin-bottom: 1rem;
  }

  &__section-text {
    text-align: justify;
    line-height: 1.6;
    hyphens: none;

    @media (max-width: 62em) {
      text-align: left;
    }
  }
}
